#left-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 47.5%;
  height: 100svh;
}

#left-canvas::before {
  content: 'Left renderer';
  position: absolute;
  inset: 0;
  color: white;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-canvas::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: white;
  z-index: 1;
}

#right-canvas {
  position: fixed;
  top: 0;
  left: 47.5%;
  width: 52.5%;
  height: 100svh;
}

#right-canvas::before {
  content: 'Right renderer';
  position: absolute;
  inset: 0;
  color: white;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lose-context-button {
  position: relative;
  top: 1rem;
  left: 1rem;
}
