@media screen {
  #page {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #multi-textures-plane {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  #multi-textures-plane button {
    border: 0;
    cursor: pointer;
    font: inherit;
    background: transparent;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  #multi-textures-plane button.show {
    opacity: 1;
  }

  body.is-waiting {
    cursor: wait;
  }

  body.is-waiting #multi-textures-plane button {
    pointer-events: none;
  }

  #multi-textures-plane img,
  #multi-textures-plane video {
    display: none;
  }

  /*** handling errors ***/

  .no-curtains.image-1 .multi-textures img:nth-child(3) {
    display: block;
  }

  .no-curtains.image-2 .multi-textures img:nth-child(4) {
    display: block;
  }

  .no-curtains.image-3 .multi-textures img:nth-child(5) {
    display: block;
  }

  .no-curtains.image-4 .multi-textures img:nth-child(6) {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  #multi-textures-plane button {
    font-size: 1.25rem;
  }
}
