@media screen {
  html,
  body {
    min-height: 100%;
  }

  body {
    margin: 0;
    font-size: 18px;
    font-family: 'PT Sans', Verdana, sans-serif;
    background: #ffffff;
    line-height: 1.4;

    overflow: hidden;
  }

  /*** layout ***/

  .flex-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flexbox;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #page-wrap {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }

  /*** canvas ***/

  #canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  #back-to-lib-link {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    background: #ee6557;
    color: white;
    text-decoration: none;
    z-index: 20;
    font-size: 0.85em;
  }

  #back-to-lib-link:hover {
    background: black;
  }

  #source-code-link {
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 0.25em 0.5em;
    background: #ee6557;
    color: white;
    text-decoration: none;
    z-index: 50;
  }

  #source-code-link:hover {
    background: black;
  }

  #videos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .video-wrapper {
    flex-basis: 40%;
    margin: 10vh 5%;
  }

  .video-wrapper h2 {
    text-align: center;
  }

  .video-elements {
    justify-content: center;
    align-items: center;
    align-content: center;
    aspect-ratio: 15 / 10;
  }

  .video-elements video {
    display: none;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }

  /*** handling errors ***/

  .no-curtains .video-elements {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-curtains .video-elements video {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .multi-textures {
    font-size: 2em;
  }
}
