@media screen {
  .meshes-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem 0;
  }

  .meshes-container .mesh-container {
    flex-basis: calc(100% / 3);
    padding: 2rem;
    box-sizing: border-box;
  }

  .mesh {
    aspect-ratio: 1;
  }

  .mesh img,
  .mesh video,
  .mesh canvas {
    display: none;
  }
}

@media screen and (orientation: portrait) {
}
