@media screen {
  html,
  body {
    min-height: 100%;
  }

  body {
    margin: 0;
    font-size: 18px;
    font-family: 'PT Sans', Verdana, sans-serif;
    background: #ffffff;
    line-height: 1.4;
  }

  /*** layout ***/

  #page-wrap {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    margin: 4rem 0;
  }

  /*** canvas ***/

  #canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  #back-to-lib-link {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    background: #ee6557;
    color: white;
    text-decoration: none;
    z-index: 20;
    font-size: 0.85em;
  }

  #back-to-lib-link:hover {
    background: black;
  }

  #source-code-link {
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 0.25em 0.5em;
    background: #ee6557;
    color: white;
    text-decoration: none;
    z-index: 50;
  }

  #source-code-link:hover {
    background: black;
  }

  #mesh-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .dom-mesh {
    flex-basis: 25%;
    aspect-ratio: 1;
    margin: 10vh 5%;
    box-sizing: border-box;
    border: 2px solid #ee6557;
    position: relative;

    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .dom-mesh h2 {
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translate3d(0, -50%, 0);
    margin: 0;
    text-align: center;
  }

  .dom-mesh h2 span {
    display: inline-block;
    padding: 0.25em 0.5em;
    background: #ee6557;
  }

  #large-cube-mesh {
    flex-basis: 60%;
    aspect-ratio: 2.5 / 1;
  }

  .dom-mesh img {
    display: none;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  /*** handling errors ***/

  .no-curtains .dom-mesh {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-curtains .dom-mesh img {
    display: block;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}
